/* Stylesheet for the 'nexiles GmbH Plone skin' Plone theme */

/* colors:

grau: #676867
grün: #76b41f
 */

/* @group basics */

a:link,
a:visited,
#content a,
#content a:visited {
    color: #676867;
}

#content {
    color: #676867;
}

dl.portlet a:link {
    color: #676867;
}

#content a:link, dl.portlet a:link {
    color:#676867;
}

#visual-portal-wrapper {
  margin-top:  4em;
  margin-bottom: 50px;
  /*width: 1024px;*/
  /*position: relative;*/
  /*left: 50%;*/
  /*margin-left: -512px;*/
  margin-left: 2em;
  margin-right: 2em;
  min-width: 560px;
  box-shadow: 0px 0px 3px 3px #676867;
  -moz-box-shadow: 0px 0px 3px 3px #676867;
  -webkit-box-shadow: 0px 0px 3px 3px #676867;
}

/* @end */

/* @group HEADER */

#portal-top-wrapper {
    margin-left: -100%
}

    #portal-top {
        z-index: 0;
    }
        #portal-header {
            z-index: 1;
        }


/* @group global nav */

#portal-globalnav-wrapper {
    top: 55px;
}

    #portal-globalnav {
        background: transparent;
        margin 0;
    }

        #portal-globalnav ul {
             background: transparent;

        }

        #portal-globalnav li {
            background: transparent;
        }

            #portal-globalnav li a {
                background: transparent;
                border: none;
                font-size: 16px;
                color: #76b41f;
                min-width: 0em;
                margin-right: 1em;
                padding: 0;
                padding-left: 0.3em;
            }
                #portal-globalnav a:hover {
                    background: transparent;
                    color: #676867;
                }

                #portal-globalnav li.selected {
                    position: relative;
                    top: 30px;
                    font-size: 24px;
                }

                #portal-globalnav .selected a {
                    background: transparent;
                    color: #76b41f;
                    font-size: 24px;
                }
                #portal-globalnav .selected a:hover {
                    background: transparent;
                    color: #76b41f;
                    font-size: 24px;
                }

/* @end */

/* @group language selector */

#portal-languageselector {
    background:none repeat scroll 0 0 white;
    z-index: 2;
    padding:1em 2em;
    position:relative;
    top:0;
    left: -12em;
}

/* @end */


/* @group personal tools */

#portal-personaltools-wrapper {
       top: -30px;
       position: absolute;

}
    #portal-personaltools {
        background: white;
        z-index: 3;
    }
        #portal-personaltools dd {
            background: white;
            border: thin solid #676867;
            z-index: 3;
        }



/* @end */


/* @group search */
/* die suchbox nach links; weg von der banderole */
#portal-searchbox {
    left: -12em;
    position: relative;
    clear: none;
    
}

    #portal-searchbox input.searchButton {
        display: none;
    }
/* @end */

/* @group logo und banderole */

#portal-logo {
    margin-top: 67px;
    margin-left: -100%;
}

#banderole {
    position: relative;
    float: right;
    top: -7px;
    right: -8px;
    z-index: 1;

}


/* @end */
    
/* @end */

/* @group Content Area */

#portal-column-content {
    top: -75px;
}

#edit-bar {
    background-color:#76b41f;
    border:0.25em solid #76b41f;
}

#content-views {
    background-color:#76b41f;
}

#contentActionMenus {
    background-color:#76b41f;
}

    #contentActionMenus dl.actionMenu a {
        background-color:#76b41f;
    }


  dl.portlet dt.portletHeader {
    font-size: 150%;
    padding-left: 0;
    background: transparent;
  }

  dl.portlet dd.portletItem {
    padding-left: 0;
  }

/* @end */

/* @group NavTree */

dl.portlet ul.navTreeLevel0 > .navTreeItem {
    line-height:2em;
    padding:0.25em 1em;
    /*border: none;*/
    color: #676867;
    padding-right: 0;
    padding-top: 0.25em;
}

dl.portlet ul.navTree .navTreeCurrentItem {
    background: none;
    border: none;
    margin-right: 0;
    margin-left: 0;
}

ul.navTree li a {
    text-align: right;
    font-size: 16px;
}

ul.navTree li a.navTreeCurrentItem {
    color:#76b41f;
}

dl.portlet a:visited,
dl.portlet a {
    color:#676867;
}
/* @end */


/* @group FontFace */
/*@font-face {
    font-family: 'MetaNormal-RomanRegular';
    src: url('metanormalroman-webfont.eot');
    src: local('☺'), url('metanormalroman-webfont.woff') format('woff'), url('metanormalroman-webfont.ttf') format('truetype'), url('metanormalroman-webfont.svg#webfontUnjPknVd') format('svg');
    font-weight: normal;
    font-style: normal;
}*/


h1.documentFirstHeading {
    font-weight: normal;
    font-style: normal;
    line-height:normal;
    font-family: 'MetaNormal-RomanRegular', sans-serif;
    font-size-adjust: 0.5;

    color: #676867;

    margin-bottom: 36px;
}
/* @end */


