/* Stylesheet for the 'nexiles GmbH Plone skin' Plone theme */

/* colors:

grau: #676867
grün: #76b41f
 */

/* @group basics */

a:link, a:visited {
    color:#676867;
}

dl.portlet a:link {
    color:#676867;  
}

#content a:link, dl.portlet a:link {
    color:#676867;
}

#visual-portal-wrapper {
  margin-left: 50px;
  margin-right: 50px;
  margin-top:  2em;
  box-shadow: 0px 0px 3px 3px #676867;
  -moz-box-shadow: 0px 0px 3px 3px #676867;
  -webkit-box-shadow: 0px 0px 3px 3px #676867;
}

/* @end */

/* @group HEADER */

#portal-top-wrapper {
    margin-left: -100%
}

    #portal-top {
        z-index: 0;
    }
        #portal-header {
            z-index: 1;
        }


/* @group global nav */

#portal-globalnav-wrapper {
}

    #portal-globalnav {
        /*clear: left;*/
        /*float: left;*/
        /*right: -25%;*/
        /*position:relative;*/
        /* top:-5em; */
        background: transparent;
    }

        #portal-globalnav ul {
             background: transparent;

        }

        #portal-globalnav li {
            background: transparent;
        }

            #portal-globalnav li a {
                background: transparent;
                border: none;
            }

                #portal-globalnav .selected a,
                #portal-globalnav a:hover {
                    background: transparent;
                    color: #76b41f;
                }
                #portal-globalnav .selected a:hover {
                    background: transparent;
                    color: #76b41f;
                }

/* @end */

/* @group language selector */

#portal-languageselector {
    background:none repeat scroll 0 0 white;
    z-index: 2;
    padding:1em 2em;
    position:relative;
    top:0;
    left: -12em;
}

/* @end */


/* @group personal tools */

#portal-personaltools-wrapper {
       top: -30px;
       position: absolute;

}
    #portal-personaltools {
        background: white;
        z-index: 3;
    
    }
        #portal-personaltools dd {
            background: white;
            border: thin solid #676867;
            z-index: 3;
        }



/* @end */


/* @group search */
/* die suchbox nach links; weg von der banderole */
#portal-searchbox {
    left: -12em;
    position: relative;
    clear: none;
    
}

    #portal-searchbox input.searchButton {
        display: none;
    }
/* @end */

/* @group logo und banderole */

a#portal-logo {
    margin-top: 0;
}
#banderole {
    position: relative;
    float: right;
    top: -7px;
    right: -8px;
    z-index: 1;

}


/* @end */
    
/* @end */



